.sobre{
    padding:15px;
    border-radius: 1em;
    transition:all 0.4s ease;
    box-shadow:0 .125rem .25rem rgba(0,0,0,.075)
  }
  
.sobre:hover{
    transition:all 0.4s ease;
    -webkit-box-shadow:0px 4px 20px -5px rgba(0,0,0,0.75);
    -moz-box-shadow:0px 4px 20px -5px rgba(0,0,0,0.75);
    box-shadow:0px 4px 20px -5px rgba(0,0,0,0.75)
  }

.sobreinicio{
    padding:15px;
    border-radius: 1em;
    transition:all 0.4s ease;
    box-shadow:0 .125rem .25rem rgba(0,0,0,.075)
  }
  
.sobreinicio:hover{
    width:300px;
    height: 300px;
    transition:all 0.4s ease;
    -webkit-box-shadow:0px 4px 20px -5px rgba(0,0,0,0.75);
    -moz-box-shadow:0px 4px 20px -5px rgba(0,0,0,0.75);
    box-shadow:0px 4px 20px -5px rgba(0,0,0,0.75)
  }

