body{
    margin: 0;
    padding: 0;
}

.banner{
    background: URL(../img/back.jpg) top center no-repeat;
    position: fixed;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    z-index: -99;
}