body{
    margin: 0;
    padding: 0;
}

.banner{
    background: URL(../img/back.jpg) top center no-repeat;
    position: fixed;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    z-index: -99;
}

.bannerText{
    font-family: 'Ruthie', cursive;
    color: aliceblue;
    font-size:80px;
    font-weight:800;
    text-align: center;
}

.bannerText2{
    align-self: center;
    width: 900px;
    font-family:Arial, Helvetica, sans-serif;
    color: rgb(3, 51, 93);
    font-size:16px;
    text-align: center;
}