body {
  margin: 0;
  padding: 0;
}

.banner {
  background: URL(../img/back.jpg) top center no-repeat;
  position: fixed;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  z-index: -99;
}

.bannerText {
  font-family: "Helvetica Neue", Helvetica, Arial, sans;
  color: #fff;
  text-shadow: rgb(83, 83, 83) 5px 5px 5px;
  font-size: 80px;
  font-weight: 800;
  text-align: center;
}

.bannerText2 {
  align-self: center;
  width: 900px;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  text-shadow: rgb(83, 83, 83) 2px 2px 2px;
  font-size: 18px;
  text-align: center;
}
