body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.banner {
  background: URL(../img/back.jpg) top center no-repeat;
  position: fixed;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  z-index: -99;
}

.bannerText {
  font-family: "Helvetica Neue", Helvetica, Arial, sans;
  color: #fff;
  text-shadow: rgb(83, 83, 83) 5px 5px 5px;
  font-size: 80px;
  font-weight: 800;
  text-align: center;
}

.bannerText2 {
  align-self: center;
  width: 900px;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  text-shadow: rgb(83, 83, 83) 2px 2px 2px;
  font-size: 18px;
  text-align: center;
  width: 65%;
}

.card {
  /*margin: 15px;*/
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 2px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

img {
  border-radius: 5px 5px 0 0;
}

/*.container {
  padding: 15px 16px;
}*/



footer {
  /* padding: 100px; */
  background-image: url(../img/footer.jpg);
  background-size: cover;
  height:110px;
  font-family: 'Montserrat', sans-serif;
  color: rgb(0, 15, 77);
  
}

.sociales{
  color: rgb(0, 15, 77);
  float: right;
}
